<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Посмотреть комментарии</title>
</head>
<body>
<p>
    <a href="/comment/">Добавить комментарий</a>
    <a href="/view/">Посмотреть комментарии</a>
    <a href="/stat/">Посмотреть статистику</a>
</p>
<table>
    <tr>
        <td>Фамилия</td>
        <td>Имя</td>
        <td>Отчество</td>
        <td>Регион</td>
        <td>Город</td>
        <td>Контактный телефон</td>
        <td>e-mail</td>
        <td>Комментарий</td>
        <td></td>
    </tr>
    <@!!!!@>
</table>
</body>
</html>
